{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue sur Fluvial Collector</h1>

    <div>Retrouvez l'ensemble des revues de l'emblematique Magazine Fuvial, disponible gratuitement !</div>
</div>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<section class="d-flex flex-column m-4">
    <div class="d-flex flex-wrap justify-content-center">
        {{ include('home/_magList_partial.html.twig') }}
    </div>
</section>
    {% endif %}

{% endblock %}
