<footer>
    <div class="row justify-content-center">
        <div class="col col-lg-3">
            <a class="nav-link" href="/mentions-legales/">Mentions légales</a>
        </div>
    </div>
</footer>